* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  scroll-behavior: smooth;
}
/* body {
  max-width: 1440px;
} */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "inter", sans-serif;
}
p,
a {
  font-family: "DM Sans", sans-serif;
}
.navigations {
  display: flex;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* MOBILE */
.navigations a img {
  margin-top: 5rem;
  margin-right: 8rem;
}
.btn-mobile-nav {
  display: none;
}

nav {
  width: 1272px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5rem;
}
.company-logo {
  width: 104px;
  height: 36px;
}
.nav-btn {
  font-family: "DM Sans", sans-serif;

  font-weight: 500;
  font-size: 1.6rem;

  align-items: center;
  text-align: center;
  padding: 1.3rem 5.95rem;
  color: #00a4ff;
}
ul {
  display: flex;
  gap: 7.5rem;
  padding-right: 0rem;
}
li {
  list-style: none;

  display: flex;
  list-style: none;
  text-decoration: none;
  font-family: "DM Sans", sans-serif;

  font-weight: 400;
  font-size: 1.6rem;

  align-items: center;
  text-align: center;
  letter-spacing: 0.005em;
  list-style: none;
  color: #fcfcfc;
}

a {
  color: #04111d;

  text-decoration: none;
  display: flex;
}
.wrapper {
  max-width: 1224px;
  margin: 0 auto;
}
.main-heading {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: -0.005em;
  margin-top: 10.3rem;
  color: #fcfcfc;
}
.main-paragraph {
  font-weight: 400;
  font-size: 2rem;
  margin-top: 0.8rem;
  color: #fcfcfc;
  line-height: 1.5;
}
.company-logo {
  width: 104px;
  height: 36px;
}
.nav-btn {
  font-family: "DM Sans", sans-serif;

  font-weight: 500;
  font-size: 1.6rem;
  border: none;
  align-items: center;
  text-align: center;
  padding: 1.3rem 5.95rem;
  background-color: #00a4ff;
  color: #fcfcfc;
}
/* .two-grid-header {
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  gap: 8.5rem;
  margin-top: 10rem;
} */

.grid-heading {
  font-weight: 700;
  font-size: 4.8rem;
  letter-spacing: -0.01em;
  color: #04111d;
  font-weight: 700;
  line-height: 148%;
  display: flex;
  align-items: center;

  color: #04111d;
}
.grid-main-text {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 188%;
  color: #586068;
  margin-bottom: 7.2rem;
  margin-top: 1.2rem;
}
.first-child-menu {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  background: #f9f9f9;
  border-radius: 64px;
  padding: 0.8rem 2.4rem;
  color: #00a4ff;
}
.second-class-menu,
.third-class-menu,
.fourth-class-menu {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  padding: 0.8rem 2.4rem;
  color: #676464;
}
.grid-2-columns {
  display: flex;
  margin-top: 5.8rem;
  gap: 6.4rem;
  margin-bottom: 17.2rem;
}

.grid-number {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 164%;
  letter-spacing: -0.01em;
  color: #586068;
}
.grid-number-span {
  font-size: 1rem;
}
.grid-sub-heading {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 164%;

  letter-spacing: -0.02em;
  margin-bottom: 0;
  color: #04111d;
}

.grid-details {
  align-self: center;
}
.grid-sub-text {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 188%;
  color: #586068;

  margin-top: 12rem;
}
.hover-about:hover {
  transform: scale(1.2);
  color: #00a4ff;
}
.flex-me {
  transition: 300ms;
}
.flex-me:hover {
  transform: scale(1.1);
}
.dropdown-details1 a {
  transition: 300ms;
}
.color-change:hover {
  color: #00a4ff;
}
.hidden-sublists {
  display: none;
}
.continue {
  font-size: 1.4rem;
  line-height: 140%;
  letter-spacing: 0.005em;
  color: #00a4ff;
  margin-top: 2.6rem;
}
/* ************************************* */
/* FOOTER SECTION */
/* ************************************ */
.company-logos {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 8.8rem;
  padding-bottom: 20.7rem;
}
.the-footer {
  position: relative;
}
.footer-text {
  font-weight: 700;
  font-size: 4rem;
  margin-top: 14.15rem;
  display: flex;
  align-items: center;
  letter-spacing: 0.005em;
  text-transform: capitalize;

  color: #f9f9f9;
}
.footer-sub-text {
  font-weight: 400;
  font-size: 1.6rem;

  line-height: 148%;
  letter-spacing: -0.01em;
  color: #f9f9f9;
}
.footer-link {
  padding: 1.8rem 6.25rem;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.005em;
  border-radius: 0.4rem;
  color: #fcfcfc;
}
.footer-btn {
  background: #010306;
  border: none;
}
.subscribe {
  margin-top: 3.25rem;
}
::placeholder {
  color: #676464;
  text-align: center;
  opacity: 0.6;
  font-size: 2rem;
}
#input {
  width: 30rem;
  height: 4.8rem;
  background: none;
  border: 1px solid #f9f9f9;
}
.footer-div {
  position: absolute;
  width: 846px;
  height: 580px;
  left: 0px;
  top: 0px;
  padding-left: 10.8rem;
  /* primary */

  background: #00a4ff;
}
.footer-bk-image {
  background-image: url("trusted clients/CTA.jpg");
  height: 64.5rem;

  /* background: rgba(22, 22, 22, 0.84); */
}

/* ****************** */
/* FOOTER SECTION */
/* ****************** */
.section-footer {
  height: 550px;
  background: #010306;
}
.grid-5-cols {
  padding-top: 10.8rem;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  gap: 6.4rem;
}
.footer-p {
  line-height: 188%;
  font-weight: 400;
  font-size: 1.6rem;
  margin-bottom: 2.68rem;
  display: flex;
  align-items: center;
  letter-spacing: 0.005em;

  color: #fcfcfc;
}
.companyfooter-logo {
  margin-bottom: 3.4rem;
}
.company-socials {
  display: flex;
  gap: 3.3rem;
}
.footer-paragraph {
  font-weight: 400;
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
  display: flex;
  align-items: center;
  letter-spacing: 0.005em;

  color: #fcfcfc;
}
h5 {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 133.5%;
  margin-bottom: 3.4rem;
  display: flex;
  align-items: center;
  letter-spacing: -0.01em;
  text-transform: uppercase;

  color: #ffffff;
}
.footer-sub-div {
  display: flex;
}
.telephone {
  color: #00a4ff;
}
.mail {
  color: #f9f9f9;
}
#copy-id {
  display: inline-block;
  color: #fcfcfc;
  text-decoration: underline;
}
.coming-soon {
  width: 5.7rem;
  height: 1.6rem;
  margin-left: 1.2rem;
  background: #21bd64;
  border-radius: 4.8rem;
}
/* .footer-span::after {
  content: "Coming Soon";
  color: #ffffff;
  padding: 0.8rem 0px;
  background-color: #27ae60;
  font-size: 1.1rem;
  border-radius: 0.2rem;
} */
.footer-flex {
  display: flex;

  margin-bottom: 1.6rem;
  gap: 1rem;
}
.second-class {
  margin-bottom: 0;
}
.copyright {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 188%;
  letter-spacing: 0.005em;
  padding-top: 11rem;
  margin-bottom: 5rem;
  color: #fcfcfc;
}
.coming-soon {
  width: 5.7rem;
  height: 1.6rem;
  margin-left: 1.2rem;
  background: #21bd64;
  border-radius: 4.8rem;
}
/* ***************************************** */
/* DROPDOWN MENU CODES */
/* ***************************************** */
.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
}

.dropdown-menu li {
  display: block;
}
.nav-links {
  display: flex;
  list-style: none;
}
.nav-links li a {
  color: #fcfcfc;
  text-decoration: none;
}
.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.14);
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu a {
  display: block;
  padding: 10px;
  background-color: #f2f2f2;
  color: #000;
  text-decoration: none;
}
.flex-me {
  display: flex;
  gap: 1.6rem;
  width: 25rem;
  padding: 1.5rem;
}
.dropdown-details1 {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 153.5%;
  letter-spacing: -0.02em;
  color: #04111d;
  padding-top: 1rem;
}
.flex-image {
  align-self: flex-start;
  padding-top: 1.3rem;
}
.dropdown-details {
  font-weight: 400;
  font-size: 1rem;
  line-height: 153.5%;
  letter-spacing: -0.02em;
  color: #586068;
}
.flex-this {
  display: flex;
  row-gap: 0;
  text-align: start;
}
.complete-dropdown {
  width: 30rem;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.14);
}
.company {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 188%;
  margin-left: 3.3rem;
  display: flex;
  align-items: center;
  letter-spacing: 0.005em;
  color: #abb0b4;
}
.about-us a,
.blogpost a,
.careers a {
  font-family: "DM Sans" sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 140%;
  display: flex;
  letter-spacing: 0.005em;
  margin-left: 3.3rem;
  z-index: 10;
}
.sec-section p a {
  color: #04111d;
  margin-top: 2rem;
  padding: 1.5rem;
  transition: 400ms;
  text-decoration: none;
}
.about-us a {
  padding: 0;
}
.sec-section {
  width: 196px;
  height: 377px;
  left: 333px;
  top: 0px;
  padding: 2rem;
  background: #fafafa;
}
.nav-btn {
  transition: 300ms;
}
.nav-btn:hover {
  font-weight: 800;
  transform: scale(1.1);
  color: #f9f9f9;
  background-color: #00a4ff;
}
.main-btn-1 {
  transition: 300ms;
}
.main-btn-1:hover {
  color: #00a4ff;
  background-color: #fafafa;
}
.main-btn-2 {
  transition: 300ms;
}
a {
  cursor: pointer;
}
.main-btn-2:hover {
  transform: scale(1.2);
}
li a {
  transition: 300ms;
}
li a:hover {
  color: #00a4ff;
  font-weight: 700;
}
